includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 5 # 0 〜 9 の解析レベル
    paths:
        - app
        - bootstrap
        - config
        - database
        - routes
        - tests
    excludePaths:
        - vendor/*
        - storage/framework/cache/*
